.menu.tailwind-menu {
	@apply flex w-full flex-col text-sm font-bold text-white lg:h-full lg:flex-row lg:justify-start lg:font-normal;

	.menu-item {
		@apply bg-primary py-2 lg:flex lg:h-full lg:items-center;

		a {
			@apply relative block truncate px-4 text-white lg:px-6;
		}

		&:hover {
			& > a {
				@apply text-secondary;
			}
		}

		&.menu-item-has-children {
			@apply relative;

			> .sub-menu {
				@apply bg-primary relative -z-10 max-h-0 w-max min-w-full overflow-clip pl-3 font-normal opacity-0 transition-all lg:absolute lg:top-full lg:pl-0;
			}

			&:hover > .sub-menu {
				@apply z-10 max-h-screen overflow-visible opacity-100;
			}

			> a:after {
				@apply absolute top-1/2 right-4 grid h-5 w-5 -translate-y-1/2 place-content-center font-bold text-gray-100 transition-transform lg:-right-1;
				font-family: "Material Symbols Outlined";
				content: "chevron_right";
				font-size: 1.25rem;
				line-height: 1.25rem;
			}

			&:hover > a:after {
				@apply rotate-90;
			}
		}

		.menu-item {
			.sub-menu {
				@apply top-0 right-0 lg:translate-x-full;
			}
		}
	}

	& > .menu-item {
		@apply lg:bg-inherit;

		& > a {
			@apply lg:px-4;
		}

		/*
		&.menu-item-has-children {
			&>a:after {
				@apply lg:content-[''];
			}
		}
		*/
	}
}

.ssnail-navigation {
	@apply font-sans uppercase;

	.ssnail-menu-wrapper {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	.ssnail-menu-wrapper::-webkit-scrollbar {
		display: none;
	}

	.ssnail-menu-footer {
		@apply before:from-primary before:absolute before:top-1 before:left-0 before:block before:h-32 before:w-full before:-translate-y-full before:bg-gradient-to-t before:to-transparent before:content-[''] before:lg:hidden;

		@media (orientation: landscape) {
			@apply before:hidden;
		}
	}
}
