.wp-block-ossigeno-ssnail-button {
    display: inline-flex;
    transition: background-color 0.3s;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;

    a {
        display: block;
        padding: 0.5rem 1rem;
        color: inherit !important;
        text-decoration: none !important;
        text-transform: uppercase;
    }

    &:hover {
        background-color: var(--wp--preset--color--secondary) !important;
    }
}